@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@ViewData["title"] = "About me";


<h1>Jared Christensen</h1>
<!--import image-->
<img src="img/JaredHunting.jpeg" width="400" />
<p>
    I really hope to develope more of a love for coding! I have always loved it but last semester I started to stop
    having the same desire to be excelent at it. I really hope to get that back this semester and make it one of my
    strengths once again!
</p>
<h2>Top 3 jobs:</h2>
<ol>
    <li>Salesforce Consultant</li>
    <li>Project Manager</li>
    <li>Software Development</li>
</ol>
<br /><br />

