<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"]</title>
    <!--import css from bootsrap and my css file-->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/default1.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a asp-controller="Blah" asp-action="Index">Home</a>
        <a asp-controller="Blah" asp-action="GradeCalc">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <!--import js bootstrap and the js for the grade calculator-->
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/jquery/jquery-3.6.0.min.js"></script>

</body>
</html>
